* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1em;
  max-width: 1200px;
}

/* 
****************
    HEADER AND NAVIGATION
**************** 
*/

header {
  margin-top: 3em;
}

.course-info {
  display: flex;
  margin: 3em 0 1em 0;
}

.info-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.info-item img {
  margin-right: 0.3em;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro .intro-text h1 {
  font-weight: bold;
  font-size: 50px;
  color: #000000;
  line-height: 1;
}

.intro .intro-text p {
  font-size: 14px;
  color: #000000;
  margin-top: 1.4em;
  width: 80%;
}

.intro .intro-image {
  width: 100%;
  height: auto;
  text-align: right;
  position: relative;
  margin-top: 2em;
}

.intro .intro-image img {
  margin-right: 1em;
  width: 60%;
  min-width: 160px;
  max-width: 300px;
}

.quote {
  padding: 1em;
  font-size: 17px;
  min-width: 200px;
  max-width: 400px;
  color: #fff;
  background-color: #1e4680;
  margin: 2em 0.8em;
  box-sizing: border-box;
}

.quote p:last-child {
  text-align: end;
  font-size: 15px;
  margin-top: 0.5em;
}

/* 
****************
    ABOUT COURSE
**************** 
*/

.about-course {
  margin-top: 5em;
}

.about-course .about-text h1 {
  font-size: 40px;
}

.about-course .about-text p {
  font-size: 18px;
  margin: 1em 0;
  line-height: 1.4;
}

.about-course .img-wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}

.about-course .img-wrapper img {
  width: 60%;
  min-width: 160px;
  max-width: 300px;
}

.about-schedule {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 5em;
}

.schedule-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  margin-right: 2.5em;
}

#nonmobile {
  display: none;
}

.schedule-item p:first-child {
  font-size: 17px;
  font-weight: bold;
}

.schedule-item p:last-child {
  font-size: 14px;
}

@media (min-width: 992px) {
  body {
    margin: 1em auto;
  }
  
  .intro {
    display: flex;
    flex-direction: row;
  }

  .intro .intro-text {
    width: 60%;
  }

  .intro .intro-image {
    width: 40%;
    margin-right: 5em;
  }

  .quote {
    padding: 1.2em;
    font-size: 20px;
    margin: 2em 3em;
  }

  .about-course {
    display: flex;
    align-items: center;
  }

  .about-course .about-text {
    width: 50%;
  }

  .about-course .about-text p {
    margin: 1em 0;
    line-height: 1.8;
  }

  .about-course .img-wrapper {
    width: 50%;
  }

  .about-course .img-wrapper img {
    max-width: 200px;
  }

  #nonmobile {
    display: block;
    margin-right: 2.5em;
  }

  .about-schedule {
    align-items: center;
  }

  .schedule-item {
    width: 10%;
    margin-bottom: 2em;
    margin-right: 2.5em;
  }
}
