@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100% ;
}



/* format zanyatiy */


.format{
    margin-left: 8%;
}
h1{
    
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    line-height: 55.76px;
    font-family: 'Roboto Slab';
}
.birinci{
    margin-bottom: 89px;
    width: 70%;
    height: 93px;
}
.ul{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    margin-bottom: 179px;
}
.ul li{
    width: 245px;
    font-size: 18px;
}
.ul li:first-child{
    margin-right: 122px;
}
.ul li:last-child{
    margin-left: 113px;
}
.ul li p:first-child{
    width: auto;
    height: 39px;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 32.5px;
    color:#1E4681;
}
.ul li p:last-child{
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
}




/* shto uznaem */

.ikinci{
    margin-bottom: 21px;
    width: 70%;
    height: 93px;
}
.typo{
    margin-bottom: 242px;
    margin-left: 8%;
}
.typo ul{
    list-style: square;
    width: 45%;
    height: 374px;
    font-family: 'Roboto', sans-serif;
}
.typo ul li{
    font-size: 24px;
    font-weight: 400px;
    font-style: normal;
    line-height: 36px;
}



